.container {
    min-width: 270px;
    position: relative;
    display: flex;
    text-align: left;
    box-sizing: border-box;
    padding: 0;
    font-size: 16px;
}
.textarea {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    height: 100%;
    width: 95%;
    color: inherit;
    resize: none;
    overflow: hidden;
    font-size: inherit;
    line-height: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: transparent;
    font-family: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    tab-size: inherit;
    text-indent: inherit;
    text-rendering: inherit;
    text-transform: inherit;
    white-space: pre-wrap;
    word-break: break-all;
    background: none;
}
.textareaNumbered {
    position: absolute;
    top: 0;
    left: 4rem;
    padding: 2px;
    height: 100%;
    width: 95%;
    color: inherit;
    resize: none;
    overflow: hidden;
    font-size: inherit;
    line-height: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: transparent;
    font-family: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    tab-size: inherit;
    text-indent: inherit;
    text-rendering: inherit;
    text-transform: inherit;
    white-space: pre-wrap;
    word-break: break-all;
    background: none;
}
.highlight {
    position: relative;
    pointer-events: none;
}
.editor {
    left: 0;
    margin: 2px;
    border: 0;
    width: 95%;
    box-sizing: inherit;
    resize: none;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    tab-size: inherit;
    text-indent: inherit;
    text-rendering: inherit;
    text-transform: inherit;
    white-space: pre-wrap;
    word-break: break-all;
}

.editorNumbered {
    left: 0.75rem;
    margin: 2px;
    border: 0;
    width: 95%;
    box-sizing: inherit;
    resize: none;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    tab-size: inherit;
    text-indent: inherit;
    text-rendering: inherit;
    text-transform: inherit;
    white-space: pre-wrap;
    word-break: break-all;
}

.lineNumber {
    width: 3rem;
    font-size: inherit;
    line-height: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    tab-size: inherit;
    text-indent: inherit;
    text-rendering: inherit;
    text-transform: inherit;
    padding-left: 5px;
}
