.editor {
    counter-reset: line;
    border: 1px solid #000000;
}

.editor #codeArea {
    padding-left: 45px !important;
}

.editor pre {
    padding-left: 25px !important;
}
.editor .editorLineNumber {
    position: absolute;
    left: 0px;
    color: #cccccc;
    text-align: right;
    width: 40px;
    font-weight: 100;
}
