.container {
    display: flex;
    border: darkgrey 1px solid;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
}

.editor {
    width: 50%;
    font-size: 16px;
    line-height: 21px;
}


/*.editor {*/
/*    counter-reset: line;*/
/*    border: 1px solid #dfe6e9;*/
/*    background-color: #30336b;*/
/*}*/

/*.editor .codeArea {*/
/*    padding-left: 55px !important;*/
/*}*/

/*.editor pre {*/
/*    padding-left: 20px !important;*/
/*}*/

/*.editor .editorLineNumber {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    color: #dfe6e9;*/
/*    text-align: right;*/
/*    width: 40px;*/
/*    font-weight: 100;*/
/*}*/
