.App {
  text-align: center;
}

.container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /*background-color: antiquewhite;*/
}

.editor {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}